<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Resources -->
    <link rel="stylesheet" type="text/css" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="image" type="icon" href="https://cdn.iconscout.com/icon/premium/png-64-thumb/blog-2584637-2170192.png">

    <title>Blog</title>
</head>
<body>
    <div class="footer">
        <p class="footer-title bg-dark text-light text-center p-5">&copy; Peak Development, 2021</p>
    </div>
</body>
</html>