<div class="">
    <h1 class="title p-3 m-2">Posts</h1>
    <form action="/search" method="POST" class="">
        <div class="input-group g-2 mb-5 px-4">
            <input name="query" class="form-control p-3" type="search" placeholder="Search for a post here..." required>
            <input class="btn btn-dark p-3" type="submit" value="Search">
        </div>
    </form>
</div>