<%- include('partials/header'); -%>
    <div class="container">
        <h1 class="title p-3 m-2">Home</h1>
        <p class="px-4"> <%= startingContent %> </p>
        <img class="p-3 m-2 h-50 w-100" src="https://images.pexels.com/photos/1018133/pexels-photo-1018133.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>
<%- include('partials/footer'); -%>